* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

nav {
  background-color: #425cbb;
  height: 50px;
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}